#content {
    margin: 0 auto;
    border-collapse: collapse;
    width: 60%
}

#content th,
#content td {
    border: 1px solid black;
    font-size: 1.2rem;
    padding-top: 5px;
    padding-bottom: 5px;
}


#content th {
    width: 10%;
    background-color:#bbbbbb;
}

#btitle {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    font-size: 1.2rem;
}

#bcontent {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    height: 300px;
    resize: none;
    font-size: 1.2rem;
}

#bauthor {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    font-size: 1.2rem;
}

#bpw {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    font-size: 1.2rem;
}

.button{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.button input{
    margin: 0 3px;
    font-size: 1.2rem;

}