#content {
    margin: 0 auto;
    border-collapse: collapse;
    width: 60%;
}

#content th,
#content td {
    border: 1px solid black;
    font-size: 1.2rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

#content th {
    width: 10%;
    background-color: #bbbbbb;
}

#content td {
    padding: 10px;
}

#content .bauthor, .bdate {
    text-align: center;
}

#content .bcontent {
    width: 90%;
    height: auto;
    word-break: break-all;
}

.buttons {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 1.2rem;
}

.buttons button, input {
    font-size: 1.2rem;
}