#list {
    margin: 0 auto;
    border-collapse: collapse;
    width: 60%
}

#list th,
#list td {
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
    font-size: 1.2rem;
    padding-top: 5px;
    padding-bottom: 5px;
}
#list th{
    background-color: #bbbbbb;
}
#list tbody tr:hover{
    background-color:#dddddd;
}

#seq{
    width:10%;
}
#title{
    width:45%;
    overflow: hidden;
}
#date{
    width:30%;
}
#author{
    width:15%;
}



.btn-cover {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
}

.btn-cover button {
    margin: 10px;
    font-size: 1.2rem;
}

.write-button {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 1.2rem;

}

.button-group {
    margin: 10px 0;
    font-size: 1.2rem;
}

button {
    margin: 0 3px;
    font-size: 1.2rem;
}
