<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.vuebackboard.dao.BoardDAO">

    <select id="boardContent" resultType="bdto">
        SELECT bseq
             , btitle
             , bcontent
             , bauthor
             , bdate
             , bpw
        FROM tblboard
        WHERE bseq = #{bseq}
    </select>

    <insert id="boardWrite">
        insert into tblboard( bseq
                            , btitle
                            , bcontent
                            , bauthor
                            , bdate
                            , bpw
                            , bwriter
                            , bwriteip
                            , bwritedate)
        values ( bseq.nextval
               , #{btitle}
               , #{bcontent}
               , #{bauthor}
               , default
               , #{bpw}
               , #{bwriter}
               , #{bwriteip}
               , default)
    </insert>

    <insert id="boardEditInfo">
        insert into tblEdit( eseq
                           , eeditip
                           , eeditdate
                           , eediter
                           , bseq)
        values ( eseq.nextval
               , #{eeditip}
               , default
               , #{eediter}
               , #{bseq})

    </insert>

    <update id="boardEdit">
        update tblboard
        set btitle=#{btitle},
            bcontent = #{bcontent},
            bauthor=#{bauthor}
        where bseq = #{bseq}
    </update>

    <delete id="boardDelete">
        delete
        from tblboard
        where bseq = #{bseq}
    </delete>

    <!-- 총 게시글 갯수 출력 -->
    <select id="countBoard" resultType="int">
        SELECT COUNT(*)
        FROM tblBOARD
    </select>

    <!-- 페이징 처리 후 게시글 조회 -->
    <select id="selectBoard" resultType="bdto">
        SELECT *
        FROM (SELECT ROWNUM RN, A.*
              FROM (SELECT btitle,
                           bseq,
                           bdate,
                           bauthor
                    FROM tblBOARD
                    ORDER BY bSEQ DESC) A)
        WHERE RN BETWEEN #{start} AND #{end}
    </select>

    <select id="editCheck" resultType="int">
        select count(*)
        from tbledit
        where bseq = #{bseq}
    </select>

    <delete id="editDelete">
        delete
        from tbledit
        where bseq = #{bseq}
    </delete>

</mapper>